/* google sans font */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Google Sans", sans-serif;
}
.main-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.main-container .left-side {
  background-image: url(./note-thanun-kvcXnodhawo-unsplash.jpg);
  flex: 1 1 0px;
}
.left-side .text-container {
  background-color: rgba(0, 22, 23, 0.45);
  margin-top: 250px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.left-side .text-container p {
  color: #ffffff;
  font-size: 72px;
  font-weight: 800;
  padding: 0;
  letter-spacing: 4px;
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 250px;
}
.main-container .right-side {
  flex: 1 1 0px;
}
